.activity-bar-container {
    width: 60px;
    height: 100vh;
    background-color: var(--bg-sidebar); /* dark slate */
    border-right: 1px solid var(--border);
    display: flex;
    justify-content: center;
}

.activity-bar-block {
    width: 100%;
}

.activity-bar-block ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Common icon style */
.activity-bar-block li {
    color: var(--text-secondary);
    font-size: 24px;
    margin: 15px 0;
    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease;
}
.activity-bar-block li:hover {
    color: #38bdf8;
    color: var(--primary);
    transform: scale(1.1);

}
/* #logout:hover {
    color: var(--danger);

} */

.activity-bar-block li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
    color: #f87171;
}
.activity-bar-block li:last-child:hover {
    color: #ef4444;
}