.chat-layout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main);
    overflow: hidden;
}

.chat-empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    background-color: var(--bg-chat);
    text-align: center;
}

.chat-empty h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-main);
}