.profile-page-container {

    display: flex;
    height: 100vh;
}

/* .main-content {
    flex: 1; 
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: var(--bg-element);
    overflow-y: auto;
} */

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: var(--bg-element);
    overflow-y: auto;

    position: relative;  /* IMPORTANT */
}


.profile-layout {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
/* PROFILE AVATAR COMPONENT  */


.profile-avatar {
    position: relative;
    width: 100%;              /* ADD THIS */
    max-width: 400px;         /* optional */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.edit-button {
    position: absolute;
    top: 20px;
    right: 40px;

    background-color: var(--bubble-other);
    color: var(--text-main);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

.edit-button:hover {
    background-color: var(--primary-glow);
}


.avatar-wrapper {
    width: 160px;
    height: 160px;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-glow);
}
.profile-avatar input[type="file"] {
    display: none;
}

.upload-button {
    background-color: var(--primary);
    color: var(--text-main);
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.upload-button:hover {
    background-color: var(--primary-hover);
}
