:root {
    /* Backgrounds */
    --bg-main: #313338;
    --bg-sidebar: #2b2d31;
    --bg-element: #383a40;
    --bg-chat: #313338;

    /* Text */
    --text-main: #dbdee1;
    --text-secondary: #949ba4;
    --text-muted: #80848e;

    /* Brand */
    --primary: #5865F2;
    /* blurple */
    --primary-hover: #4752C4;
    --primary-glow: rgba(88, 101, 242, 0.3);

    /* Borders */
    --border: #1e1f22;

    /* Chat Bubbles */
    --bubble-me: #5865F2;
    --bubble-me-text: #ffffff;
    --bubble-other: #2b2d31;
    --bubble-other-text: #dbdee1;

    /* Status */
    --online: #23a559;
    --danger: #da373c;

    /* Typing Indicator */
    --bg-dots: #b5bac1;
    --bg-typing-indic: #2b2d31;
    --typing-indic: #b5bac1;

    /* Typography */
    --font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--bg-main);
    color: var(--text-main);
}